<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Subway stop distance calculation" />
    <meta name="keywords" content="mta, calculation, calculate, subway, distance, train, station, stops" />
    
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
</head>
<body>
    <div>       
        @RenderBody()       
    </div>
</body>
</html>
